server:
  port: 8080

---

server:
  port: 8081

spring:
  profiles: default
  datasource:
    url: jdbc:mysql://${DB_HOST}:3306/match_db?serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    # hibernate:
    #   ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
        streams:
          binder:
            configuration:
              default:
                key:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
                value:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
      bindings:
        event-in:
          group: pet
          destination: petstore
          contentType: application/json
        event-out:
          destination: petstore
          contentType: application/json

logging:
  level:
    org.hibernate.type: trace
    org.springframework.cloud: debug

---


spring:
  profiles: docker
  cloud:
    stream:
      kafka:
        binder:
          brokers: kafka:9092
        streams:
          binder:
            configuration:
              default:
                key:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
                value:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
      bindings:
        event-in:
          group: pet
          destination: petstore
          contentType: application/json
        event-out:
          destination: petstore
          contentType: application/json


api:
  url:
    user: http://localhost:8082/api/user
    review: http://localhost:8083/api/review

