server:
  port: 8080

springdoc:
  swagger-ui:
    path: /api/swagger-ui/index.html
    operationsSorter: method

spring:
  config:
    activate:
      on-profile: dev
  flyway:
    enabled: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:3306/match_db?serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      auto-commit: false
      connection-test-query: SELECT 1
      minimum-idle: 5
      maximum-pool-size: 10
      pool-name: mungta_accusation_pool
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
#    hibernate:
#      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  thymeleaf:
    prefix: classpath:/static/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    check-template-location: true
  cloud:
    stream:
      kafka:
        binder:
          brokers: kafka.kafka.svc.cluster.local:9092
        bindings:
          partyRegistered-in-0:
            consumer:
              configuration:
                key:
                  deserializer: org.apache.kafka.common.serialization.StringDeserializer
          partyRegisteredReject-out:
            producer:
              configuration:
                key:
                  serializer: org.apache.kafka.common.serialization.StringSerializer
          partyStatusChanged-out:
            producer:
              configuration:
                key:
                  serializer: org.apache.kafka.common.serialization.StringSerializer
          partyStatusChangedReject-in-0:
            consumer:
              configuration:
                key:
                  deserializer: org.apache.kafka.common.serialization.StringDeserializer
          partyMemberAccept-out:
            producer:
              configuration:
                key:
                  serializer: org.apache.kafka.common.serialization.StringSerializer
          partyMemberAcceptReject-in-0:
            consumer:
              configuration:
                key:
                  deserializer: org.apache.kafka.common.serialization.StringDeserializer
          partyMemberCanceled-out:
            producer:
              configuration:
                key:
                  serializer: org.apache.kafka.common.serialization.StringSerializer
          partyMemberCanceledReject-in-0:
            consumer:
              configuration:
                key:
                  deserializer: org.apache.kafka.common.serialization.StringDeserializer
      bindings:
        partyRegistered-in-0:
          destination: party-registered
        partyRegisteredReject-out:
          destination: party-registered-reject
          contentType: application/json
        partyStatusChanged-out:
          destination: party-status-changed
          contentType: application/json
        partyStatusChangedReject-in-0:
          destination: party-status-changed-reject
        partyMemberAccept-out:
          destination: party-member-accept
          contentType: application/json
        partyMemberAcceptReject-in-0:
          destination: party-member-accept-reject
        partyMemberCanceled-out:
          destination: party-member-canceled
          contentType: application/json
        partyMemberCanceledReject-in-0:
          destination: party-member-canceled-reject

api:
  url:
    user: http://user:8080/api/user
    review: http://review:8080/api/review

management:
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

logging:
  config: classpath:logging/logback-dev.xml
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql: TRACE
