server:
  port: 8085

---

server:
  port: 8085

spring:
  profiles: default
  datasource:
    url: jdbc:mysql://match-service-db.mysql.database.azure.com:3306/match_db?serverTimezone=Asia/Seoul
    username: mungta
    password: andxk12#$
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    # hibernate:
    #   ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
        bindings:
          partyRegistered-in-0:
            consumer:
              configuration:
                key:
                  deserializer: org.apache.kafka.common.serialization.StringDeserializer
          partyRegisteredReject-out:
            producer:
              configuration:
                key:
                  serializer: org.apache.kafka.common.serialization.StringSerializer
          partyStatusChanged-out:
            producer:
              configuration:
                key:
                  serializer: org.apache.kafka.common.serialization.StringSerializer
          partyStatusChangedReject-in-0:
            consumer:
              configuration:
                key:
                  deserializer: org.apache.kafka.common.serialization.StringDeserializer
          partyMemberAccept-out:
            producer:
              configuration:
                key:
                  serializer: org.apache.kafka.common.serialization.StringSerializer
          partyMemberAcceptReject-in-0:
            consumer:
              configuration:
                key:
                  deserializer: org.apache.kafka.common.serialization.StringDeserializer
          partyMemberCanceled-out:
            producer:
              configuration:
                key:
                  serializer: org.apache.kafka.common.serialization.StringSerializer
          partyMemberCanceledReject-in-0:
            consumer:
              configuration:
                key:
                  deserializer: org.apache.kafka.common.serialization.StringDeserializer
      bindings:
        partyRegistered-in-0:
          destination: party-registered
        partyRegisteredReject-out:
          destination: party-registered-reject
          contentType: application/json
        partyStatusChanged-out:
          destination: party-status-changed
          contentType: application/json
        partyStatusChangedReject-in-0:
          destination: party-status-changed-reject
        partyMemberAccept-out:
          destination: party-member-accept
          contentType: application/json
        partyMemberAcceptReject-in-0:
          destination: party-member-accept-reject
        partyMemberCanceled-out:
          destination: party-member-canceled
          contentType: application/json
        partyMemberCanceledReject-in-0:
          destination: party-member-canceled-reject

api:
  url:
    user: http://localhost:8081/api/user
    review: http://localhost:8086/api/review

logging:
  level:
    org.hibernate.type: trace
    org.springframework.cloud: debug

---


spring:
  profiles: docker
  cloud:
    stream:
      kafka:
        binder:
          brokers: kafka:9092
        streams:
          binder:
            configuration:
              default:
                key:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
                value:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
      bindings:
        event-in:
          group: pet
          destination: petstore
          contentType: application/json
        event-out:
          destination: petstore
          contentType: application/json


api:
  url:
    user: http://localhost:8082/api/user
    review: http://localhost:8083/api/review

